.FeedBack{
    display: flex;
    position: fixed;
    right: 0%;
    justify-content: center;
    align-items: center;
    top: 40%;
}

.FeedBack__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: medium;
    word-break: break-all;
    cursor: pointer;
    border: none;
    background-color: rgb(237, 38, 71);
    color: white;
    outline: none;
    align-content: center;
}

.FeedBackForm{
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    outline: none;
}

.FeedBackForm button{
    width: 100%;
    padding: 4%;
    outline: none;
    background-color: $blue;
    border: none;
    border-radius: 2rem;
    color: white;
    letter-spacing: .2rem;
    font-size: medium;
}

.FeedBackForm textarea{
    outline: none;
    font-size: medium;
    letter-spacing: .2rem;
    border-radius: .5rem;
    text-align: center;
    border:3px solid $blue;
}

@media (max-width : $desktop-breakpoint){
    .FeedBack__btn{
        padding: .5rem;
    }
}
