.FeedBack{
    display: flex;
    position: fixed;
    right: 0%;
    justify-content: center;
    align-items: center;
    top: 40%;
}

.FeedBack__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: small;
    word-break: break-all;
    cursor: pointer;
    border: none;
    background-color: rgba(237, 38, 71, 0.589);
    color: white;
    outline: none;
    align-content: center;
}

.FeedBackForm{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: .2rem;
    outline: none;
    transition: 1s ease;
}

.FeedBackForm button{
    width: 40%;
    padding: 2%;
    outline: none;
    background-color: $blue;
    border: none;
    border-radius: 2rem;
    color: white;
    letter-spacing: .2rem;
    font-size: small;
}

.FeedBackForm textarea{
    outline: none;
    font-size: medium;
    letter-spacing: .2rem;
    border-radius: .5rem;
    text-align: center;
    border:3px solid $blue;
}
