.ReactModalPortal .ReactModal__Overlay{  //To change the box
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.modal {
    display: flex;
    background: white;
    width: 100rem;
    height: 50rem;
    flex-direction: column;
    outline: none;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(50,50,93,10%);
    border-radius: .5rem;
    border-left: 5px solid $profit-green;
    font-family: 'Open Sans Condensed', sans-serif;
    // background: url('https://fastly-production.24c.in/cars24/cities/hero/pune.svg');
    // background-position: bottom right;
    // background-repeat: no-repeat;
    // background-size: contain;
}

.modal__title::after{
    content: "";
    width: 79px;
    margin-top: .2rem;
    height: 5px;
    background-color: $light-orange;
    display: block;
    border-radius: 5rem;
}

.modal button{
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
}

.PhoneForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;

}

#phoneInput{
    margin-top: -5rem;
}

.PhoneForm input{
    width: 15rem;
    height: 4rem;
    padding: 0 .5rem;
    outline: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.609);
    border-radius: .5rem;
    box-shadow: 0 2px 5px rgba(50,50,93,10%);
    letter-spacing: .2rem;
}

#phoneInput input{
    border-radius: 0rem;
}

#phoneInput-1{
    display: flex;
    flex-direction: column;
}

#phoneInput-1 button{
    margin-left: 0rem;
}

.otp-container{
    font-weight: bold;
}

.PhoneForm input:focus{
    border: 2px solid $greyish-black;
}

.PhoneForm button{
    width: 10rem;
    height: 4rem;
    border:  none;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    text-align: start;
    margin-left: 1rem;
    letter-spacing: .1rem;
    font-weight: lighter;
    border: 1px solid rgba(128, 128, 128, 0.609);
    text-align: center;
}




@media (max-width : $desktop-breakpoint){
    .modal{
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 30rem;
        padding: .5rem;
    }
    .modal button{
        margin-top: 2rem;
    }
    .PhoneForm{
        margin-top: 5rem;
    }
    .PhoneForm input {
        height: 2.5rem;
        width: 10rem;
        font-size: 1.5rem;
    }

    .PhoneForm button{
        width: 8rem;
        height: 3rem;
    }
      
}