.Not-Found {
    flex-grow: 1;
    display: flex;    
    align-items: center;
    flex-direction: column;
    margin: 2%;
}

.Not-Found .GoHome-btn{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1%;
    background: $orange;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

@media (max-width : $desktop-breakpoint){
    .Not-Found{
        padding: 0%;
    }

    .Not-Found h1 {
        font-size: 2rem;
    }

    .Not-Found .GoHome-btn{
        font-size: 1rem;
    }
}